@{
    ViewData["Title"] = "Products";
}

<h1>Products</h1>

<a href="#">+ Add New Product</a>

<hr />

<table border="1" cellpadding="5">
    <tr>
        <th>Name</th>
        <th>Unit</th>
        <th>Min Stock</th>
        <th>Actions</th>
    </tr>
    <tr>
        <td>Sample Product</td>
        <td>pcs</td>
        <td>10</td>
        <td>
            <a href="#">Edit</a> |
            <a href="#">Delete</a>
        </td>
    </tr>
</table>