@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Üdvözöllek az oldalon!</h1>

    <a asp-controller="RegLog"
       asp-action="Login"
       class="btn btn-success">
        Login
    </a>

    <a asp-controller="RegLog"
       asp-action="Register"
       class="btn btn-danger">
        Register
    </a>
</div>