@{
    ViewData["Title"] = "Kezdőlap";
}
<style>
    body {
        background-color:white;
    }

    .main {
        background-color:white;

        width:30%;
        height:60%;

        margin: auto;

        top:0;
        left:0;
        bottom:0;
        right:0;

        position:absolute;

        border-radius: 5%;
        padding: 1%;

        color:black;

        text-align:center;

        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }

    img {
        margin:auto;
    }

    a {
        width:50%;
        margin-bottom: 5%;
    }

    p {
        font-size: 30px;
        font-family:Arial;
        font-weight:bold;
    }

    img {
        width: 30%;
        height: 30%;
    }

</style>

<div class="main">
    <img src="" alt="Logo" />
    <p>Jelentkezz be vagy regisztrálj az oldalra!</p>

    <a class="btn btn-primary" style="font-weight:bold" asp-controller="RegLog" asp-action="Login">Bejeletnkezés</a>
    <a class="btn btn-secondary" style="font-weight:bold" asp-controller="RegLog" asp-action="Register">Regisztráció</a>
</div>