@model Raktarkezelo.Models.User.LoginViewModel
@{
    ViewData["Title"] = "Bejelentkezés";
}
<style>
    body {
        background-color:white;
    }

    .main {
        background-color: white;

        width: 30%;
        height: 60%;

        margin: auto;

        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        position: absolute;

        border-radius: 5%;

        padding: 1%;

        color: black;

        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        text-align:center;
    }

    p{
        font-family:Arial;
        font-weight:bold;
        font-size: 30px;
        text-align: center;
    }

    .warning {
        text-align:center;
    }
</style>

<div class="main">
    <form asp-action="Login" method="post">
        @Html.AntiForgeryToken()

        <div class="text-danger">
            @Html.ValidationSummary(false)
        </div>
        <div>
            <img src="" alt="Logo" />
        </div>

        <p>Bejelentkezés</p>
            <input asp-for="Email" class="form-control" placeholder="Email" />
        <br />
            <input asp-for="Password" class="form-control" placeholder="Password" />
        <br />
        <div align="center">
            <button type="submit" class="btn btn-primary" style="font-weight:bold; ">Bejelentkezés</button>
        </div>
    </form>
</div>
<br />
<div class="warning">
    <span asp-validation-for="Email" class="text-danger"></span>
     <br />
    <span asp-validation-for="Password" class="text-danger"></span>
</div>

@section Scripts 
{
<partial name="_ValidationScriptsPartial" />
}