@model Raktarkezelo.Models.User.RegisterViewModel
@{
    ViewData["Title"] = "Regisztráció";
}
<style>
    body {
        background-color: white;
    }

    .main {
        background-color: white;
        width: 30%;
        height: 60%;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        border-radius: 5%;
        padding: 1%;
        color: black;
        text-align: center;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }

    .textinput {
        width: 70%;
    }

    p {
        font-size:30px;
        font-family:Arial;
        font-weight:bold;
    }

    .warning {
        text-align:center;
    }
</style>

<div class="main">
    <form asp-action="Register" method="post">
        @Html.AntiForgeryToken()

        <div class="text-danger mb-3">
            @Html.ValidationSummary(false)
        </div>
        <div>
            <img src="" alt="logo"/>
        </div>
        <p>Regisztráció</p>
        <br />
        <div>
            <input asp-for="Email" class="textinput" placeholder="Email" />
        </div>
        <br />
        <div>
            <input asp-for="Username" class="textinput" placeholder="Username" />
        </div>
        <br />
        <div>
            <input asp-for="Password" class="textinput" placeholder="Password" />
        </div>
        <br />
        <div>
            <input asp-for="ConfirmPassword" class="textinput" placeholder="ConfirmPassword" />
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Regisztráció</button>
    </form>
</div>

<br />
<div class="warning">
    <span asp-validation-for="Email" class="text-danger"></span>
    <br />
    <span asp-validation-for="Username" class="text-danger"></span>
    <br />
    <span asp-validation-for="Password" class="text-danger"></span>
    <br />
    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
</div>