@{
    ViewData["Title"] = "Users";
}

<h1>User Management</h1>

<a href="#">+ Add New User</a>

<hr />

<table border="1" cellpadding="5">
    <tr>
        <th>Username</th>
        <th>Role</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>
    <tr>
        <td>admin</td>
        <td>Administrator</td>
        <td>Active</td>
        <td>
            <a href="#">Edit</a> |
            <a href="#">Disable</a>
        </td>
    </tr>
</table>